body {
  background: linear-gradient(plum 0%, pink 50%, lightblue 100%);
  text-align: center;
}

.test_image_and_result {
  background-color: lightgrey;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: 5px 5px 18px grey;
}

.mini_result {
  text-align: center;
  color: mediumpurple;
}

.copy_right_footer {
  position: fixed;
  color: aliceblue;
  bottom: 0;
  width: 100%;
  background-color: grey;
  line-height: 3;
  text-align: center;
}

ol h5 {
  background: white;
  padding: 13px;
  border-radius: 20px;
}

span {
  color: red;
  font-size: 16px;
}

li img {
  border: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  width: 300px;
}

b {
  color: purple;
}

.result {
  box-shadow: 5px 5px 18px grey;
  letter-spacing: 2px;
  background: #F2BAC9;
  border-radius: 20px;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid grey;
}